/* Blend Fruits Section start */

$text-color-blend: #000;
$background-color-blend: rgb(45, 42, 42);
$primary-color-blend: rgba(0, 0, 0, 0.3);

.blend-fruits-section {
  margin-top: 100px;
}

.container-half {
  display: flex;
  padding: 0 50px;
}

section {
  color: $primary-color-blend;
  background-color: $background-color-blend;
}

.column-four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-item-blend {
  width: 20%;
  margin: 0 25px;
}

.subtle {
  background-color: $background-color-blend;
  color: $primary-color-blend;
}

.text-single-item {
  font-family: "Signika";
  color: $text-color-blend;
  line-height: 24px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid $primary-color-blend;
}

.two-buttons {
  margin: 25px 50px;

  > button {
    margin: 0 10px;
  }
}

.product-info {
  margin: 0 -6px;

  > h2 {
    color: $text-color-blend;
    font-family: "Signika", sans-serif;
    font-size: 48px;
    font-weight: 700;
  }
}

.text-single-item-description {
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-style: italic;
  margin-top: 2px;
}

/* Blend Fruits Section end*/
