/* BODY STARTING */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #83b735;
  box-shadow: 0 0 4px #c9c4c4;
  outline: none;
}

/* BODY STARTING */
